//noinspection CssInvalidPropertyValue
html, body {
  overflow: overlay;
}

h1 {
  font-size: 46px;
  font-weight: 500;
  padding: 30px 0;
  letter-spacing: 1px;

  sup {
    font-size: 13px;
    position: relative;
    top: -25px;
    opacity: .4;
    font-weight: 400;
    font-family: sans-serif;
    user-select: none;
    cursor: pointer;
  }
}

.bp4-dark {
  background-color: #2f343c;
}

.app {
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;

  > h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .reset-date-range {
    margin: 0 10px;
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }

  .table-wrap {
    padding-top: 5px;
    padding-bottom: 50px;
  }
}

section.controls {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  > .l {
    display: flex;
    flex-grow: 1;
    padding-right: 12px;
  }
}
